<!doctype html>
<html lang="zh-CN">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="lam's contributors">

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Optional Bootstrap Theme -->
    <link href="data:text/css;charset=utf-8," data-href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" id="bs-theme-stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="">
    <link rel="icon" href="">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>

    <!-- Bootstrap JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Mathjax -->
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
      };
    </script>
    <script id="MathJax-script" async src="{% static 'node_modules/mathjax/es5/tex-chtml.js' %}">
    </script>

    <!-- cookieFrame.js for csrf -->
    <script src="{% static 'js/cookieFrame.js' %}"></script>

    {% block head%}
    <title>线性代数解题平台</title>
    {% endblock head%}

  </head>

  <body>

    <!-- 导航栏 -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color:rgb(74, 68, 90)">LAM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
          <div class="col-md-offset-1">
            <ul class="nav navbar-nav">
              <li><a href="/">首页</a></li>
              <li><a href="#">说明文档</a></li>
              <li><a href="#">求解器</a></li>
            </ul>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">计算实例</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">联系我们<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- 网站标题栏 -->
    <header>
      <div class="jumbotron" style="background-color:rgb(32, 189, 129)">
        <div class="row">
          <div class="col-md-offset-1" style="color:rgb(255, 255, 255)">
            <h1>线性代数解题平台</h1>
          </div>
        </div>
      </div>
    </header>

    {% block body%}
    {% endblock body%}
  </body>

</html>