<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="lam's contributors">

  <title>线性代数解题平台</title>

  <link rel="canonical" href="http://v3.bootcss.com/components/">

  <!-- Bootstrap core CSS -->

  <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.14/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Optional Bootstrap Theme -->
  
  <link href="data:text/css;charset=utf-8," data-href="/dist/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
  
  <!-- Documentation extras -->

  <link href="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.14/assets/css/docs.min.css" rel="stylesheet">

  <!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.14/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="">

  <!-- <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?bdb993b828cbe079a7fbc1a951f44726";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script> -->
  <style>
    .col1 {
    width: 600px;
    height: 450px;
    background-color: beige;
    }
 </style>
  



</head>
  <body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">LAM</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/getting-started/">首页</a>
            </li>
            <li>
              <a href="/css/">说明文档</a>
            </li>
            <li class="active">
              <a href="/components/">求解器</a>
            </li>
            <li><a class="reddot" href="https://www.youzhan.org" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-网站实例'])" target="_blank">网站实例</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                联系我们 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="https://v5.bootcss.com/">v5</a></li>
                <li><a href="https://v4.bootcss.com/">v4</a></li>
                <li class="divider"></li>
                <li class="active"><a href="https://v3.bootcss.com/">v3</a></li>
                <li><a href="https://v2.bootcss.com/">v2</a></li>
              </ul>
            </li>
        </nav>
      </div>
    </header>
    <div class="bs-docs-header" tabindex="-1" style="background-color:rgb(32, 189, 129); background-image:unset">
      <div class="container">
        <h1>线性代数解题平台</h1>
        <!-- <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
        
      </div>
    </div>
    <div class="container bs-docs-container">
      <div class="row">
        <div role="main" class="col-md-9">
          
        </div>
        <div class="col-md-3" role="complementary">
          <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
            

            <ul class="nav bs-docs-sidenav">       
              <!-- <li class="">
                <h3>
                  <a href="#glyphicons">快捷导航</a>
                </h3>          
                <ul class="nav">
                  <li class=""><a href="#glyphicons-glyphs">xxxxxxx</a></li>
                  <li class=""><a href="#glyphicons-how-to-use">xxxxx</a></li>
                  <li class=""><a href="#glyphicons-examples">xx</a></li>
                </ul>
              </li>    -->
              <h3>
                <a href="#glyphicons">快捷导航</a>
              </h3>    
            </ul>
            <a class="back-to-top" href="#top">
              线性方程
            </a>

            <a href="#" class="bs-docs-theme-toggle" role="button">
              行列式
            </a>
                    
          </nav>
        </div>   
      </div>
    </div>
    
    <table width="600">
        <tr>
          <td><input name="matrix" type="text" value="请输入你的问题" id="xkx01"></td>
          <td></td>
          <td><button id="xkx02">查询</button></td>
        </tr>
        <tr>
          <td>
            <div class="col1" id="xkx03"></div>
          </td>
        </tr>
        <script>
          const tex = document.getElementById('xkx01');
          const btn1 = document.getElementById('xkx02');
          const texa= document.getElementById('xkx03');
          function catch1(value){
            fetch(`https://jsonplaceholder.typicode.com/todos/${value}`)
            .then((response)=>{
                return response.json();
            })
            .then((response)=>{
                const data= (texa.innerHTML=response.title);
            })
        }

          btn1.addEventListener("click",()=>{
              const value= tex.value;
              catch1(value)
          })
        </script>
        <tr>        
          <td>xxxxxx</td>
        </tr>
    </table>
    


    </div>
  </body>
</html>
