<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="lam's contributors">


 <style>
   body {

      background-image: url("");

      background-position: center 0;

      background-repeat: no-repeat;

      background-attachment: fixed;

      background-size: cover;

      -webkit-background-size: cover;

      -o-background-size: cover;

      -moz-background-size: cover;

      -ms-background-size: cover;

}
 </style>





  <title>线性代数解题平台</title>

  {% load static %}

  <!-- Bootstrap core CSS -->

  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Optional Bootstrap Theme -->

  <link href="data:text/css;charset=utf-8," data-href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" id="bs-theme-stylesheet">

  <!-- Documentation extras -->

  <link href="{% static 'bootstrap/css/docs.min.css' %}" rel="stylesheet">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="">

  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
</head>

<body>
  <header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar"
          aria-controls="bs-navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">LAM</a>
      </div>
      <nav id="bs-navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/getting-started/">首页</a>
          </li>
          <li>
            <a href="/css/">说明文档</a>
          </li>
          <li class="active">
            <a href="/components/">求解器</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              联系我们 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="https://v5.bootcss.com/">v5</a></li>
              <li><a href="https://v4.bootcss.com/">v4</a></li>
              <li class="divider"></li>
              <li class="active"><a href="https://v3.bootcss.com/">v3</a></li>
              <li><a href="https://v2.bootcss.com/">v2</a></li>
            </ul>
          </li>
      </nav>
    </div>
  </header>
  <div class="bs-docs-header" tabindex="-1" style="background-color:rgb(32, 189, 129); background-image:unset">
    <div class="container">
      <h1>线性代数解题平台</h1>
      <!-- <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->

    </div>
  </div>


  <!-- 主内容 -->
<main>
  <div class="container">
    <div class="row">
      <!-- 内容 -->
      <div role="main" class="col-md-10">         
            <form class="form-horizontal"  >
              <div class="bs-glyphicons">
                <ul class="bs-glyphicons-list">

                  <li style="height: 80px;width: 400px;margin: 30px 20px;border:2px solid #548acf;padding:10px 40px;border-radius:25px">
                    <h3 class="glyphicon-class"><a href="{% url 'DeterminantSolverPage' %}">行列式</a></h3>
                  </li>
                
                  <li style="height: 80px;width: 400px;margin: 30px 20px;border:2px solid #548acf;padding:10px 40px;border-radius:25px">
                    <h3 class="glyphicon-class"><a href="{% url 'PolySolverPage' %}">多项式</a></h3>
                  </li>

                  <li style="height: 80px;width: 400px;margin: 30px 20px;border:2px solid #548acf;padding:10px 40px;border-radius:25px">
                    <h3 class="glyphicon-class"><a href="{% url 'GESolverPage' %}">线性方程组</a></h3>
                  </li>
            
                  <li style="height: 80px;width: 400px;margin: 30px 20px;border:2px solid #548acf;padding:10px 40px;border-radius:25px">
                    <h3 class="glyphicon-class"><a href="{% url 'DiagSymmetricSolverPage' %}">矩阵分解</a></h3>
                  </li>
                
                  <li style="height: 80px;width: 400px;margin: 30px 20px;border:2px solid #548acf;padding:10px 40px;border-radius:25px">
                    <h3 class="glyphicon-class"><a href="{% url 'LincombinationSolverPage' %}">向量空间</a></h3>
                  </li>

                  <li style="height: 80px;width: 400px;margin: 30px 20px;border:2px solid #548acf;padding:10px 40px;border-radius:25px">
                    <h3 class="glyphicon-class"><a href="{% url 'testPage' %}">测试页面</a></h3>
                  </li>

                </ul>
              </div>
            </form>          
      </div>

        

      

      <!-- 侧边栏 -->
      <div class="col-md-2" role="complementary">
        <ul class="list-group">
          <li class="list-group-item"><h3><a href="#">快捷导航</a></h3></li>
          <li class="list-group-item"><a href="#">行列式</a></li>
          <li class="list-group-item"><a href="#">线性方程</a></li>
          <li class="list-group-item"><a href="#">特征值与特征向量</a></li>
          <li class="list-group-item"><a href="#">二次型</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</main>

  
 
  
</body>


</html>