{% extends "csstemplate.html" %}

{% load static %}

{% block head %}
  <title>csrf测试</title>
  <script src="{% static 'js/cookieFrame.js' %}"></script>
{% endblock head %}

{% block body %}
  <div>
    <p>
      测试csrf
    </p>
    <p id="text">
      crsf尚未验证
    </p>
  </div>

  <!-- {% csrf_token %} -->
  <script>
    var csrftoken = docCookies.getItem('csrftoken');
    var myInit = { 
      method: 'POST',
      mode: 'cors',
      headers: {'X-csrftoken':csrftoken},
      body: JSON.stringify({matrix: '[[1,2,3],[4,5,6],[3,2,2]]'}),
    };
    var myRequest = new Request("{% url 'csrf_test' %}", myInit);
    var textarea = document.getElementById('text');

    fetch(myRequest)
    .then(response => response.json())
    .then(data => {
      console.log(data);
      textarea.innerHTML = data.matrix + "csrf验证成功"
    });
  </script>
{% endblock body %}
  

