<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Demo 1</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>

    <div class="='col-sm-4">
      <h1>矩阵求逆</h1>
    </div>

    <input  class="form-control" style="width: 10cm">
    <button id="submit">提交</button>

    <div class="='col-sm-4">
      <h2>显示答案</h2>
    </div>
  
    <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
      $("#submit").on(
        'click',
        function(){
          $.get(
            "{% url 'answer' %}",
            {matrix: $("input").val()},
            function(data,status){
              $("h2").text(data.matrix);
              console.log("succeed");
            },
          );
        }
      );
    </script>
    
  </body>
</html>