<!doctype html>
<html lang="zh-CN">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Demo</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <input type="text" id="testP" value="12">


    <script>
      // let txt = document.getElementById('testP').innerHTML;
      let txt = $('#testP').value;
      console.log(txt);
    </script>
    
  </body>
</html>

