<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="lam's contributors">

  <title>test</title>
  {% load static %}
  <script src="{% static 'js/cookieFrame.js' %}"></script>
</head>
<body>

  <div>
    <p>
      测试页面
    </p>
    <input type="text" value="请输入你的问题" id="matrix">
    <button id="btn">查询</button>
    <p id="text">
    </p>
  </div>

  <!-- {% csrf_token %} -->

  <!-- jquery -->
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>

  <!-- cookieFrame.js for csrf -->
  <script src="{% static 'js/cookieFrame.js' %}"></script>

  <!-- test -->
  <script>
    SolverUrl = "{% url 'testSolver' %}";
  </script>
  <script src="{% static 'js/lamTest.js' %}"></script>
</body>
</html>

