<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="lam's contributors">

  <title>test</title>
  {% load static %}

    <!-- jquery -->
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>

  <!-- cookieFrame.js for csrf -->
  <!-- {% csrf_token %} -->
  <script src="{% static 'js/cookieFrame.js' %}"></script>
</head>
<body>

  <div>
    <p>
      测试页面
    </p>
    <input type="text" value="请输入你的问题" id="matrix">
    <button id="btn">查询</button>
    <p id="text">
    </p>
  </div>


  <script>
      $('#btn').click(() => {

      let initHead = {
        method: 'POST',
        mode: 'same-origin',
        headers: {'X-csrftoken': docCookies.getItem('csrftoken')},
        body: JSON.stringify({matrix: $('#matrix').val()}),
      };

      fetch(new Request("{% url 'testSolver' %}", initHead))

    })
  </script>
</body>
</html>

