<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="lam's contributors">

  <title>test</title>
  {% load static %}
  <script src="{% static 'js/cookieFrame.js' %}"></script>
</head>
<body>

  <div>
    <p>
      测试页面
    </p>
    <input name="matrix" type="text" value="请输入你的问题" id="mat">
    <button id="btnt">查询</button>
    <p id="text">
    </p>
  </div>

  <!-- {% csrf_token %} -->
  <script>
    var csrftoken = docCookies.getItem('csrftoken');
    var textarea = document.getElementById('text');
    const btn = document.getElementById('btnt');
    

    function mycatch(value) {
      console.log(value)
      var myInit = { 
        method: 'POST',
        mode: 'cors',
        headers: {'X-csrftoken':csrftoken},
        body: JSON.stringify({matrix: value}),
      };
      var myRequest = new Request("{% url 'LinequSolver' %}", myInit);
      fetch(myRequest)
      .then(response => response.json())
      .then(data => {
        console.log(data);
        textarea.innerHTML = '已接收';
      });
    }

    btn.addEventListener('click', () => {
      const value = document.getElementById('mat').value;
      mycatch(value);
    })


  </script>
</body>
</html>

