{% extends "csstemplate.html" %}

{% load static %}

{% block head %}
<title> 向量正交化 </title>
{% endblock head %}

{% block body %}

<!-- 主内容 -->
<main>
  <div class="container">
    <div class="row">
      <!-- 内容 -->
      <div role="main" class="col-md-9">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">向量正交化</h3>
          </div>

          <div class="panel-body">
            <form class="form-horizontal">
              <label for="matrix" class="col-md-2 control-label">输入向量</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="matrix" value="[[1,1,0,0],[1,0,1,0],[-1,0,0,1],[1,-1,-1,1]]">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-default" id="submit">提交</button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">问题解答</h3>
          </div>

          <div class="panel-body" id="answer-area">

            <div class="panel panel-default" id="start_area" hidden>
              <div class="panel-body" id="start_vector">
              </div>
            </div>

            <div id="course_area"></div>
            
            <div class="panel panel-default" id="norm_area" hidden>
              <div class="panel-body" id="norm_vector">
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- 侧边栏 -->
      <div class="col-md-3" role="complementary">
        <ul class="list-group">
          <li class="list-group-item"><h3><a href="#">快捷导航</a></h3></li>
          <li class="list-group-item"><a href="#">行列式</a></li>
          <li class="list-group-item"><a href="#">线性方程</a></li>
          <li class="list-group-item"><a href="#">特征值与特征向量</a></li>
          <li class="list-group-item"><a href="#">二次型</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</main>

<!-- 答案生成代码 -->
<script src="{% static 'metric/SchmidtVectorSolver.js' %}"></script>

{% endblock body %}