{% extends "csstemplate.html" %}

{% load static %}

{% block head %}
<title> 高斯消去法 </title>
{% endblock head %}

{% block body %}

<!-- 导航栏 -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:rgb(74, 68, 90)">LAM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
      <div class="col-md-offset-1">
        <ul class="nav navbar-nav">
          <li><a href="/">首页</a></li>
          <li><a href="#">说明文档</a></li>
          <li><a href="#">求解器</a></li>
        </ul>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">计算实例</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">联系我们<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- 网站标题栏 -->
<header>
  <div class="jumbotron" style="background-color:rgb(32, 189, 129)">
    <div class="row">
      <div class="col-md-offset-1" style="color:rgb(255, 255, 255)">
        <h1>线性代数解题平台</h1>
      </div>
    </div>
  </div>
</header>

<!-- 主内容 -->
<main>
  <div class="container">
    <div class="row">
      <!-- 内容 -->
      <div role="main" class="col-md-9">

        <div class="panel panel-default">
          <div class="panel-body">
            <form class="form-horizontal">
              <label for="matrix" class="col-md-2 control-label">输入矩阵</label>
              <div class="col-md-8">
                <input type="text" class="form-control" id="matrix" value="[[1,3,4], [2,3,4], [3,4,5]]">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-default" id="submit">提交</button>
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">问题解答</h3>
          </div>

          <div class="panel-body" id="answer-area">

            <div class="panel panel-default" id="start-answer" hidden>
              <div class="panel-body">
                $A$ = <span id="start-matrix"></span>
              </div>
            </div>

            <div class="panel panel-default" id="course-area" hidden>
              <div class="panel-body">
                $A$ <span id="course"></span>
              </div>
            </div>

          </div>
        </div>

      </div>

      <!-- 侧边栏 -->
      <div class="col-md-3" role="complementary">
        <ul class="list-group">
          <li class="list-group-item"><h3><a href="#">快捷导航</a></h3></li>
          <li class="list-group-item"><a href="#">行列式</a></li>
          <li class="list-group-item"><a href="#">线性方程</a></li>
          <li class="list-group-item"><a href="#">特征值与特征向量</a></li>
          <li class="list-group-item"><a href="#">二次型</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</main>

<!-- 答案生成代码 -->
<script>
  const csrftoken = docCookies.getItem('csrftoken');
  const btn = document.getElementById('submit');

  function myCatch(value) {
    var myInit = { 
      method: 'POST',
      mode: 'cors',
      headers: {'X-csrftoken':csrftoken},
      body: JSON.stringify({matrix: value}),
    };
    var myRequest = new Request("{% url 'GESolver' %}", myInit);
    fetch(myRequest)
    .then(response => response.json())
    .then(data => {
      console.log(data);

      document.getElementById('start-matrix').innerHTML = `$${data.mat}$`;
      document.getElementById('start-answer').hidden = false;

      let course = '';
      for(let i = 0; i < data.course.length; i++) {
        course = course + `$\\rightarrow ${data.course[i]}$`;
      }
      document.getElementById('course').innerHTML = course;
      document.getElementById('course-area').hidden = false;

      MathJax.typeset();
    });
  }

  btn.addEventListener('click', () => {
    var matrix = document.getElementById('matrix').value;
    myCatch(matrix);
  })
</script>

{% endblock body %}